.container {
  color: light-dark(rgb(52, 52, 52), gray);
  width: 100%;
  height: 100%;
  padding: 0;
}

.title {
  color: light-dark(rgb(52, 52, 52), gray);
  font-size: rem(34px);
  font-weight: 900;

 
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(20px);
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(16px);
  }
}

.h2 {
  color: light-dark(rgb(52, 52, 52), gray);
  font-size: rem(20px);
  font-weight: 900;


  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(16px);
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(12px);
  }
}

.description {
  color: light-dark(rgb(52, 52, 52), gray);
  max-width: rem(600px);
  margin: auto;

  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  height: 100%;
  border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  color: light-dark(rgb(52, 52, 52), gray);
}

.iconCopy {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  color: light-dark(rgb(52, 52, 52), gray);
  cursor: pointer;
  width: rem(25px);
  @media (max-width: $mantine-breakpoint-xs) {
    width: rem(20px);
  }
}

.cardTitle {
  font-style: bold;
  &::after {
    content: '';
    display: block;
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
  }

  @media (max-width: em(750px)) {
    font-size: var(--mantine-spacing-sm);
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(10px);
    font-weight: 90;
  }
}

.cardContent {
  color: light-dark(rgb(52, 52, 52), gray);
  font-style: italic;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(12px);
  }
  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(10px);
    font-weight: 90;
  }
}